<!-- Start -->
<section class="colored-section" id="title" style="background-image: url(images/headerbg.png); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="container-fluid">
  <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="images/akadsWeb.png" alt="akadstextlogo" height="50" width="147"></a>
          <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="#aboutus">About Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#pricing">Pricing</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#contact">Contact Us</a>
                  </li>
              </ul>
              <span class="navbar-text">
                  <a class="akads-dbluetext btn-bn btn btn-light my-2 my-sm-0" href="/users/login" role="button"> <b>LOG IN</b></a>
              </span>
          </div>
      </nav>
  <!-- Title -->    
      <div class="akads-row row">
          <div class="akads-about col-lg-6">
              <h1>The New Normal for Tutorials.</h1>
              <p>An all-in-one platform that helps parents book tutors for their kids.</p>
              <a class="btn btn-light btn-lg book-btn" href="/users/regone" role="button" style="color: #044467;"><i class="fas fa-sign-in-alt"></i> GET STARTED</a>
          </div>
          <div class="title-box col-lg-6">
              <img class="akads-logo" src="images/akadslogo.png" alt="akadslogo">
          </div>
      </div>
  </div>
</section>

<!-- Benefits -->
<section class="white-section" id="benefits">
<div class="perk-container container-fluid">
    <div class="row">
        <div class="perk-box col-lg-4">
            <i class="perk-icon fas fa-user-friends fa-4x"></i>
            <h3>One-on-One</h3>
            <p>A more personal tutoring experience is essential to address your child's academic needs.</p>
        </div>
        <div class="perk-box col-lg-4">
            <i class="perk-icon fas fa-graduation-cap fa-4x"></i>
            <h3>Top Notch Tutors</h3>
            <p>Our college-student-tutors come from the Philippine's top universities such as Ateneo, U.P. etc. </p>
        </div>
        <div class="perk-box col-lg-4">
            <i class="perk-icon fas fa-laptop fa-4x"></i>
            <h3>All-In-One</h3>
            <p>We combine the booking, payment, and video call to streamline the tutoring experience for our users.</p>
        </div>
    </div>
</div>
</section>

<!--  About US -->
<section class="white-section" id="aboutus">
  <div class="container-fluid">
      <div class="row">
          <div class="au-box col-lg-6">
              <img class="au-img" src="images/akadsWeb.png" alt="akadslogo">
              <img class="au-img shadow" src="images/aboutus.png" alt="zoomlogo">
          </div>
          <div class="au-box col-lg-6">
              <h2 class="au-header">About Us</h2>
              <p>
                  We want to make it easy for parents to find tutors for their kids by combining <b class="akads-dbluetext">the booking process, video chat, and online payments</b>, all-in-one platform. 
              </p>
              <p>
                  Online tutorial sessions are conducted through 
                  <b class="akads-dbluetext">ZOOM</b>. We accept any mode of payment such as
                  <b class="akads-dbluetext">credit cards, payment apps, and bank transfers.</b> 
              </p>
              <p>Our tutors help <b class="akads-dbluetext">Grade 1-10</b> students with the following subjects:</p>
              <ul class="subj-list-box">
                  <li class="subj-list list-unstyled"><i class="subj-icon fas fa-square-root-alt fa-2x"></i>MATH</li>
                  <li class="subj-list list-unstyled"><i class="subj-icon fas fa-book fa-2x"></i></i>ENGLISH</li>
                  <li class="subj-list list-unstyled"><i class="subj-icon fas fa-flask fa-2x"></i></i>SCIENCE</li>
                  <li class="subj-list list-unstyled"><i class="subj-icon fas fa-star fa-2x"></i></i>FILIPINO</li>
              </ul>
              <a href="booking.html" role="button" class="btn btn-primary btn-lg book-btn"><i class="fas fa-calendar-alt"></i> BOOK A TUTOR</a>
          </div>
      </div>
  </div>
</section>

<!-- Pricing -->
<section class="dark-section" id="pricing" style="background-image: url(images/otherbg.png); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="container-fluid">
    <h2 class="price-header">Pricing</h2>
    <div class="row mb-3 text-center">
        <div class="col-lg-4 col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Free Trial</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">₱0 <small class="text-muted">/ hr<hr></small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li><b style="color: orange;">*First-time Users Only</b></li>
                <li>College-Student Tutor</li>
                <li>Zoom Video Chat</li>
                <li><b>1 hour session</b></li>
              </ul>
              <a href="/users/regone" role="button" class="btn btn-lg btn-block btn-outline-primary"><i class="fas fa-edit"></i> Sign Up for Free</a>
            </div>
          </div>
        </div>
        <!-- <div class="col-lg-4 col-md-6">
            <img class="price-img" src="images/Search.png" alt="el">
        </div> -->
        <div class="col-lg-4 col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Full Session</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">₱400 <small class="text-muted">/ hr<hr></small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li>College-student Tutor</li>
                <li>Any mode of payment</li>
                <li>Zoom Video Chat</li>
                <li><b>1 hour session</b></li>
              </ul>
              <a href="/users/regone" role="button" class="btn btn-lg btn-block btn-primary"><i class="fas fa-calendar-alt"></i> Book A Session</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">10-Sessions</h4>
            </div>
            <div class="card-body">
              <h2 class="card-title pricing-card-title">₱3,600 <small class="text-muted" style="font-size: 70%;">from <strike>₱4,000</strike><hr></small></h2>
              <ul class="list-unstyled mt-3 mb-4">
                <li><b style="color: green;">*Pay for 9, Get 1 FREE</b></li>
                <li>College-student Tutor</li>
                <li>Any mode of payment</li>
                <li>Zoom Video Chat</li>
              </ul>
              <a href="/users/regone" role="button" class="btn btn-lg btn-block btn-primary"><i class="fas fa-calendar-alt"></i> Book 10 Sessions</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="white-section" id="testimonials">
<div class="container-fluid">
  <h2>Testimonials</h2>
  <div id="quote-carousel" class="carousel slide" data-ride="false" data-interval="4000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-4">
            <img src="images/Karl.png" class="shadow" alt="" width="140" height="140">
            <h3>Tutor Karl</h3>
            <p>"...Having Akads as an opportunity to continue tutoring has been a big blessing! So far, me and my tutee have really progressed a lot. The growth is the same as it would have been if it were in person!"</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="images/Didi.png" class="shadow" alt="" width="140" height="140">
            <h3>Mommy Didi</h3>
            <p>"AKADS is the new normal for us. It compliments well with the online learning the school provides. Safe, easy and effective. Bonus part is when they started offering bundles! We are now sure we are booked and assured of our slot!"</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="images/Teddy.png" class="shadow" alt="" width="140" height="140">
            <h3>Theodore</h3>
            <p>"Tutor Karl helps me solve my Math homework using an online whiteboard!"</p>
          </div><!-- /.col-lg-4 -->
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-lg-4">
            <img src="images/Beatrice.png" class="shadow" alt="" width="140" height="140">
            <h3>Tutor Bea</h3>
            <p>"...It was really fulfilling to be able to teach Martina as she was able to understand our lesson on trigonometry. I do hope to continue teaching younger students in the future!"</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="images/Trixie.png" class="shadow" alt="" width="140" height="140">
            <h3>Mama Trixie</h3>
            <p>"Everything that I need to get a tutor for my daughter, Martina, is in AKADS. They help support her by providing a tutor that can help with the lessons given online schooling."</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="images/Marti.png" class="shadow" alt="" width="140" height="140">
            <h3>Martina</h3>
            <p>"Ate Bea super helped me understand trigonometry more. She even gave me tips to help me remember the formulas."</p>
          </div><!-- /.col-lg-4 -->
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#quote-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#quote-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
</div>
</section>

<!-- FAQs -->
<section class="white-section" id="faqs" >
<h2>Frequently Asked Questions</h2>
<div class="container-fluid">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link akads-dbluetext" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Who created AKADS PH?
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        AKADS was created by a group of IT Entrepreneurship students of the Ateneo de Manila University during their two-year thesis two years ago. Now that they're fresh graduates, four of these students decided to pursue the business!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed akads-dbluetext" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Do you offer face-to-face tutorials?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Unfortunately, we do not offer face-to-face tutorials. The safety of our students and tutors are our utmost priority, so we believe it's best to not have this service. This is why we're creating a better online all-in-one platform for your tutorial needs!      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed akads-dbluetext" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How can I pay?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        You can pay for our services through bank transfer, G-Cash, PayMaya, or credit card! We will send you the details as soon as your booking is confirmed.      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed akads-dbluetext" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          How do I become a tutor?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        If you are interested in becoming a tutor, please message our facebook page facebook.com/LearnWithAKADS! The application form can be found there.
    </div>
  </div>
</div>
</div>

</section>

<!-- Contact -->
<section class="white-section" id="contact">
  <div class="container-fluid">
      <div class="row">
          <div class="contact-box col-lg-12">
              <h2 class="contact-header">Get in Touch</h2>
              <p class="contact-description">
                  For any questions and inquiries, feel free to send us a message.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="contact-box col-lg-4">
              <a href="tel:+639178966009"><i class="contact-icon fas fa-mobile-alt fa-4x"></i></a>
              <p>Call/Text</p>
              <h5><a href="tel:+639178966009">+63 (917) 8966009</a></h4>
          </div>
          <div class="contact-box col-lg-4">
              <a href="https://facebook.com/LearnWithAKADS"><i class="contact-icon fab fa-facebook fa-4x"></i></a>
              <p>Facebook</p>
              <h5><a href="https://facebook.com/LearnWithAKADS">facebook.com/AKADS<a></h4>
          </div>
          <div class="contact-box col-lg-4">
              <a href="mailto:akads.ph@gmail.com"><i class="contact-icon far fa-envelope fa-4x"></i></a>
              <p>Email</p>
              <h5><a href="mailto:akads.ph@gmail.com">akads.ph@gmail.com</a></h4>
          </div>
      </div>
      <hr style="width: 80%;">
      <p>© AKADS 2020</p>
  </div>
</section>